@model IEnumerable<HloMoney.WebApplication.Models.ContestViewModel>

@if (Model != null && Model.Any())
{
    @*<h3>Прошлые конкурсы</h3>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <h1>@Html.ActionLink("Конкурс #" + item.Id, "Details", new { id = item.Id })</h1>
            </div>
        }
    </div>*@
}