@model IEnumerable<HloMoney.WebApplication.Models.CommentViewModel>
    
@if (Model != null && Model.Any())
{
    foreach (var comment in Model)
    {

    }
}
else
{
    <h2>Комментариев пока нет!</h2>
}