@media (max-width: 768px) {
  .navbar {
    background: #2c3e50 !important; }
    .navbar-toggle {
      border: 1px solid #fff;
      padding: 10px 14px;
      color: #fff; }
    .navbar-brand {
      padding: 19px 33px 19px 16px !important;
      height: 59px !important;
      color: #fff !important; }
      .navbar-brand:hover {
        background-color: transparent; }
  .nav li a {
    color: #fff !important; }
  .nav .open a {
    background-color: transparent;
    color: #fff !important; }
  .nav .dropdown {
    background: #3a5269; }
    .nav .dropdown ul li a {
      padding: 15px 25px !important; } }

@media (min-width: 769px) and (max-width: 998px) {
  .lottery-image {
    width: 100%;
    margin-bottom: 36px; }
    .lottery-image-container {
      text-align: center; }
  .lottery-description {
    text-align: justify; }
  .lottery-members {
    text-align: center; } }

@media (min-width: 999px) and (max-width: 1200px) {
  .lottery-image {
    max-width: 460px; } }

html, body {
  min-width: 767px; }

body {
  background-color: #fff;
  padding-bottom: 20px;
  color: #2c3e50; }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.dl-horizontal dt {
  white-space: normal; }

input,
select,
textarea {
  max-width: 280px; }

a {
  color: #2c3e50;
  outline: none;
  cursor: pointer; }
  a:hover {
    background: #fff;
    color: #16a085;
    text-decoration: none; }
  a:focus {
    background: #fff;
    color: #16a085; }

.user-avatar {
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 88px;
  border: 2px solid #2c3e50;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin-right: 15px; }
  .user-avatar-mini {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    border: 2px solid #2c3e50;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    float: left;
    margin-right: 15px; }

.user span {
  float: left;
  padding: 14px 0; }

.user:after {
  clear: both;
  content: " ";
  display: table; }

.navbar {
  background: #fff;
  color: #2c3e50;
  font-weight: bold; }
  .navbar-brand {
    padding: 26px 33px 22px 17px;
    font-size: 29px;
    height: 69px;
    color: #2c3e50; }
  .navbar-nav li a {
    font-size: 20px;
    padding: 24px 20px; }
  .navbar-nav li a.login {
    padding: 24px 20px !important; }
  .navbar-right li a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 21px; }

.nav li a {
  color: #2c3e50; }
  .nav li a:hover {
    background-color: transparent;
    color: #16a085; }
  .nav li a:focus {
    background-color: transparent;
    color: #16a085; }

.nav .open a {
  background-color: transparent;
  color: #2c3e50; }
  .nav .open a:hover {
    background-color: transparent;
    color: #16a085; }
  .nav .open a:focus {
    background-color: transparent;
    color: #16a085; }

.header {
  background: #fff;
  margin-top: -60px; }
  .header .logo {
    background-image: url(Images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 460px; }

.logo-title {
  margin: 75px 0 !important; }

.project-status {
  margin-top: -130px; }
  .project-status:after {
    clear: both;
    content: " ";
    display: table; }

.stats {
  float: left;
  width: 25%;
  text-align: center;
  font-size: 25px; }
  .stats .title {
    display: block;
    font-size: 37px;
    font-weight: bold; }
  .stats .value {
    display: block; }

.page-title {
  font-size: 60px; }

.page-splitter {
  margin: 50px 0; }

.comments h1 {
  font-size: 54px;
  margin: 55px 0; }

#contest-image {
  max-width: 500px;
  max-height: 500px; }

.lottery-gift {
  font-size: 35px;
  font-weight: bold;
  margin: 50px 0; }

.lottery-description {
  font-size: 24px; }

.lottery-members h1 {
  font-size: 54px;
  margin: 55px 0; }

.lottery-time {
  font-size: 20px; }

.lottery-part {
  float: right;
  font-size: 32px;
  padding: 11px 16px; }

.lottery-image {
  max-width: 100%; }

.lottery-current {
  text-align: center; }
  .lottery-current h2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 55px;
    margin-bottom: 35px; }
  .lottery-current h3 {
    font-size: 37px;
    margin: 0 0 22px 0px;
    font-weight: bold; }
  .lottery-current .state h4 {
    margin-bottom: 0px; }
  .lottery-current .state #time-left {
    font-size: 70px; }
  .lottery-current .btn {
    margin: 45px 0;
    font-size: 35px; }
  .lottery-current .members h3 {
    margin: 7px 0 11px 0;
    font-weight: bold; }
  .lottery-current .members:after {
    clear: both;
    content: " ";
    display: table; }

footer {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 35px; }
  footer ul {
    list-style: none;
    padding: 0; }
  footer ul.links li {
    text-align: center; }
  footer .ztn-logo {
    background: url(Images/ztn-logo.png);
    background-size: 100%;
    width: 150px;
    height: 150px;
    margin-top: -30px; }

.image-changer {
  margin-top: 20px;
  position: relative; }
  .image-changer input[type="file"] {
    position: absolute;
    top: 0px;
    width: 200px;
    height: 45px;
    opacity: 0;
    cursor: pointer; }

#vk_like {
  float: right; }

.howplay {
  margin: 30px;
  padding: 0; }
  .howplay li {
    font-size: 31px;
    line-height: 50px; }
    .howplay li img {
      max-width: 1000px;
      border: 1px solid; }

