@import 'media';
@import 'variables';

html, body {
    min-width: 767px;
    font-size: 20px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: $white-color;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    color: $blue-color;
}

.body {
    &-content {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        min-height: 100%;
    }
}

.content {
    &-wrapper {
        background: transparent;
        min-height: 100%;
    }
}

.dl-horizontal dt {
    white-space: normal;
}

.wrapper {
    min-height: 100%;
}

input,
select,
textarea {
    max-width: 280px;
}

.form-group {
    input, select, textarea {
        max-width: 100% !important;
    }
}

a {
    color: $blue-color;
    outline: none;
    cursor: pointer;

    &:hover {
        background: transparent;
        color: $green-color;
        text-decoration: none;
    }

    &:focus {
        background: transparent;
        color: $green-color;
    }
}

.validation {
    h4 {
        font-size: 25px;
    }

    &-summary {
        &-errors {
            ul {
                padding: 0;
                list-style: none;
                font-weight: bold;
            }
        }
    }
}

.user {
    &-avatar {
        display: inline-block;
        width: 128px;
        height: 128px;
        border-radius: 88px;
        border: 2px solid $blue-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        margin-right: 15px;

        &-mini {
            width: 55px;
            height: 55px;
            border-radius: 50px;
            border: 2px solid $blue-color;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto 100%;
            float: left;
            margin-right: 15px;
        }
    }

    span {
        float: left;
        padding: 14px 0;
    }

    &:after {
        clear: both;
        content: " ";
        display: table;
    }
}

.navbar {
    background: transparent;
    color: $blue-color;
    font-weight: bold;

    &-brand {
        padding: 26px 33px 22px 17px;
        font-size: 29px;
        height: 69px;
        color: $blue-color;
    }

    &-nav {
        li {
            a {
                font-size: 20px;
                padding: 27px 20px;
            }

            a.login {
                padding: 24px 20px !important;
            }
        }
    }

    &-right {
        li {
            a {
                padding-top: 10px;
                padding-bottom: 10px;
                line-height: 21px;
            }
        }
    }
}

.nav {
    li {
        a {
            color: $blue-color;

            &:hover {
                background-color: transparent;
                color: $green-color;
            }

            &:focus {
                background-color: transparent;
                color: $green-color;
            }
        }
    }

    .open {
        a {
            background-color: transparent;
            color: $blue-color;

            &:hover {
                background-color: transparent;
                color: $green-color;
            }

            &:focus {
                background-color: transparent;
                color: $green-color;
            }
        }
    }
}

.header {
    background: transparent;

    .logo {
        background-image: url(./Images/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 100%;
        height: 460px;
    }
}

.logo-title {
    margin: 75px 0 !important;
}

.project {
    &-status {
        margin-top: -130px;

        &:after {
            clear: both;
            content: " ";
            display: table;
        }
    }
}

.stats {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 25px;

    .title {
        display: block;
        font-size: 37px;
        font-weight: bold;
    }

    .value {
        display: block;
    }
}

.page {
    &-title {
        font-size: 60px;
        margin: 30px 0 45px 0;
    }

    &-splitter {
        margin: 50px 0;
    }
}

.comments {

    h1 {
        margin: 32px 0;
    }

    h2 {
        margin: 40px 0;
    }

    .well {
        h3 {
            margin-top: 0;
        }

        textarea {
            min-height: 170px;
            resize: none;
            font-size: 20px;
        }
    }
}

#contest {
    &-image {
        max-width: 500px;
        max-height: 500px;
        border: 1px solid #2c3e50;
    }
}

.contest {
    &-gift {
        font-size: 35px;
        font-weight: bold;
        margin: 50px 0;
    }

    &-description {
        h1, h2, h3, h4 {
            line-height: 50px;
            margin: 0;
        }

        h1 {
            font-size: 35px;
        }

        h2 {
            font-size: 25px;
        }

        h3 {
            font-size: 18px;
        }

        h4 {
            font-size: 12px;
        }

        ul {
            padding: 0;
            list-style: none;
        }
    }

    &-members {
        h1 {
            font-size: 54px;
            margin: 55px 0;
        }
    }

    &-time {
        font-size: 20px;
    }

    &-part {
        float: right;
        font-size: 32px;
        padding: 11px 16px;
    }

    &-image {
        max-width: 100%;
    }

    &-current {
        text-align: center;

        h2 {
            font-size: 50px;
            font-weight: bold;
            margin-top: 130px;
            margin-bottom: 35px;
        }

        h3 {
            font-size: 37px;
            margin: 0 0 22px 0px;
            font-weight: bold;
        }

        .state {
            h4 {
                margin-bottom: 0px;
            }

            #time-left {
                font-size: 70px;
            }
        }

        .btn {
            margin: 45px 0;
            font-size: 35px;
        }

        .members {

            h3 {
                margin: 7px 0 11px 0;
                font-weight: bold;
            }

            &:after {
                clear: both;
                content: " ";
                display: table;
            }
        }
    }
}

footer {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 35px;

    ul {
        list-style: none;
        padding: 0;
    }

    ul.links {
        li {
            text-align: center;
        }
    }

    .ztn-logo {
        background: url(Images/ztn-logo.png);
        background-size: 100%;
        width: 150px;
        height: 150px;
        margin-top: -30px;
    }
}


.image {
    &-changer {
        margin-top: 20px;
        position: relative;

        input[type="file"] {
            position: absolute;
            top: 0px;
            width: 200px;
            height: 45px;
            opacity: 0;
            cursor: pointer;
        }
    }
}

#vk_like {
    position: absolute !important;
    right: 0;
}

.howplay {
    margin: 30px;
    padding: 0;

    li {
        font-size: 31px;
        line-height: 50px;

        img {
            max-width: 1000px;
            border: 1px solid;
        }
    }
}

.report {
    margin-bottom: 40px;

    &:after {
        clear: both;
        content: " ";
        display: table;
    }

    &-author {
        &-avatar {
            width: 160px;
            height: 160px;
            border-radius: 100px;
            border: 2px solid #2c3e50;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin: 0 auto;
            margin-top: 18px;
        }
    }

    &-title {
        font-weight: bold;
        font-size: 25px;
    }

    &-mark {
        margin-bottom: 60px;
        cursor: pointer;

        &-bg {
            position: absolute;
            background: url('Images/empty-stars.png') no-repeat;
            width: 173px;
            height: 33px;
        }

        &-overall {
            margin: -43px 4px 64px 4px;
        }

        &-fill {
            position: absolute;
            background: url('Images/full-stars.png') no-repeat;
            width: 0;
            height: 33px;
        }

        &-text {
            font-size: 25px;
            font-weight: bold;
        }
    }
}

span.loader {
    display: block;
    background: url(Images/loader.gif) no-repeat;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.btn-custom {
    color: #2c3e50;
    background-color: rgba(44, 62, 80, 0.22);
    border-color: rgba(44, 62, 80, 0.22);

    &:hover {
        color: #2c3e50;
        background-color: rgba(44, 62, 80, 0.3);
        border-color: rgba(44, 62, 80, 0.3);
    }

    &:focus {
        color: #2c3e50;
        background-color: rgba(44, 62, 80, 0.3);
        border-color: rgba(44, 62, 80, 0.3);
    }
}
