@model IEnumerable<HloMoney.WebApplication.Models.CommentViewModel>

@if (Model != null && Model.Any())
{
    foreach (var comment in Model)
    {
        <hr />
        <div class="row comment">
            <div class="comment-avatar-col">
                <div class="comment-author-avatar" style="background-image: url(@comment.AuthorAvatar);"></div>
            </div>
            <div class="comment-text-col">
                <p class="comment-text"><span class="comment-author-name">@comment.AuthorName</span>: @comment.Text</p>
                <p>
                    <strong>Дата:</strong> @comment.Date
                </p>
            </div>
        </div>
    }
}