@using HloMoney.Core.Models.Json
@model HloMoney.WebApplication.Models.ContestViewModel
    
@if (Model != null)
{
    <h2>Идет розыгрыш!</h2>
    <h3>Приз: @Model.Gift</h3>
    @Html.ActionLink("Принять участие", "Details", "Contest", new { id = Model.Id }, new { @class= "btn btn-default btn-lg", @id = "takepart" })
}
else
{
    <h2>Текущих розыгрышей нет!</h2>
}