@using HloMoney.Core.Models.Json
@model IEnumerable<HloMoney.WebApplication.Models.ContestViewModel>

@if (Model != null && Model.Any())
{
    <div class="contest-ended">
        <h3>Прошедшие конкурсов:</h3>
        <div class="contest-actives-list">
            @foreach (var contest in Model)
            {
                <div class="col-md-4 active">
                    <h3 class="title">Конкурс #@contest.Id</h3>
                    <div class="contest-winner">
                        <p>Победител@(contest.WinnerCount > 1 ? "и" : "ь"):</p>
                        @foreach (var winner in contest.Winners)
                    {
                            <img src="@winner.WinnerAvatar" />
                        }
                    </div>
                    @Html.ActionLink("Подробнее", "Details", "Contest", new { id = contest.Id }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>
    </div>
}