<footer>
    <div class="row">
        <div class="col-md-12">
            <p>
                Система позволяет получить денежные средства и другие призы совершенно бесплатно! Копирование материалов запрещено! <strong>HloMoney &copy; 2016</strong>
                <br/>
                <div><img src="https://mc.yandex.ru/watch/40556085" style="position:absolute; left:-9999px;" alt="" /></div>
            </p>
        </div>
    </div>
</footer>