<footer>
    <div class="row">
        <div class="col-md-3">
            <ul class="links">
                <li>
                    @Html.ActionLink("Отзывы", "Reports", "Home")
                </li>
                <li>
                    @Html.ActionLink("Как участвовать?", "Faq", "Home")
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <p>
                Система позволяет получить денежные средства и другие призы совершенно бесплатно!
            </p>
        </div>
        <div class="col-md-3">
            <ul class="links">
                <li>
                    <a href="https://vk.com/publichlomoney">Мы ВКонтакте</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCk2ttR-BZqJrpq17Fu0z_qA">Youtube</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="ztn-logo"></div>
        </div>
    </div>
</footer>