<footer>
    <div class="row">
        <div class="col-md-3">
            <ul class="links">
                <li>
                    <a>О системе</a>
                </li>
                <li>
                    <a>Контакты</a>
                </li>
                <li>
                    <a>Гарантии</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <p>
                Система позволяет получить денежные средства и другие призы совершенно бесплатно!
            </p>
        </div>
        <div class="col-md-3">
            <ul class="links">
                <li>
                    <a>Мы ВКонтакте</a>
                </li>
                <li>
                    <a>Youtube</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="ztn-logo"></div>
        </div>
    </div>
</footer>