@using HloMoney.Core.Models.Json

@if (ViewBag.Members != null && ViewBag.Members.Count > 0)
{
    <h3>Эти люди уже приняли участие!</h3>
    <div>
        @foreach (JsonVkResponse member in ViewBag.Members)
        {
            <div class="user-avatar" style="background-image: url('@member.photo_200_orig')" title="@($"{member.first_name} {member.last_name}")">
            </div>
        }
    </div>
}
else
{
    <h3>Участников пока что нет! Будь первым!</h3>
}