
@{
    ViewBag.Title = "Отзывы пользователей";
}

<h2 class="page-title">@ViewBag.Title</h2>
<div class="report-mark-overall">
    @if (ViewBag.OverallMark != null && ViewBag.OverallMark > 0)
    {
        <h3>Общая оценка пользователей: @ViewBag.OverallMark</h3>
    }
    @if (User.Identity.IsAuthenticated && Html.Action("IsAlreadyReported").ToString() == "False")
    {
        @Html.ActionLink("Добавить отзыв", "Create", null, new { @class = "btn btn-success" });
    }
</div>

<div id="reports">
    @Html.Action("GetReportList")
</div>

<script type="text/javascript">
    var pageIndex = 1;
    var pageCount;

    $(window).scroll(function () {
        if ($(window).scrollTop() === $(document).height() - $(window).height()) {
            console.log("test");
        }
    });

</script>