
@{
    ViewBag.Title = "Как участвовать в конкурсе?";
}

<h2 class="page-title">@ViewBag.Title</h2>

<h3>Для того чтобы принять участие необходимо:</h3>
<ol class="howplay">
    <li>Авторизоваться в системе. Необходимо @Html.ActionLink("войти", "Auth", "Account") и предоставить свои данные</li>
    <li>
        Перейти на страницу с конкурсом и прочесть описание конкурса:
        <img src="~/Content/Images/contest-desc.jpg"/>
        Последний конкурс всегда отображается на главной странице:
        <img src="~/Content/Images/main.jpg" />
    </li>
    <li>
        Выполнить необходимые условия, которые написаны в описании конкурса (например, репостнуть страницу или оставить комментарий).
    </li>
    <li>Победитель будет объявлен в комментариях к данному конкурсу.</li>
</ol>