
@{
    ViewBag.Title = "Как участвовать в конкурсе?";
}

<h2 class="page-title">@ViewBag.Title</h2>

<h2>Для того чтобы принять участие необходимо:</h2>
<ol class="howplay">
    <li>Авторизоваться в системе. Необходимо @Html.ActionLink("войти", "Auth", "Account") и предоставить свои данные</li>
    <li>
        Все текущие конкурсы отображаются на главной странице. Участвовать можно в каждом и даже во всех сразу!
        <br/><img src="~/Content/Images/faq/1.jpg"/>
    </li>
    <li>
        Перейдя на страницу участия, пользователь может видеть кнопку "Участия", нажав на которую пользователь будет являться участником конкурса. Обратите внимание на время: по окончании система автоматически определит победителя (или победителей, если их несколько).
        <br/><img src="~/Content/Images/faq/2.jpg"/>
    </li>
    <li>
        После того как конкурс закончится, система сама определяет победителя. Теперь можно написать администратору за получением приза!
        <br/><img src="~/Content/Images/faq/3.jpg"/>
    </li>
    <li>
        Система так же может и не выдавать приз в силу того, что слишком мало конкурсантов. На данный момент - это 10 заявок и число может меняться.
    </li>
</ol>
<h3>
    Участие в конкурсах "Гонка в комментариях"
</h3>
<ol class="howplay">
    <li>
        Следует внимание на конкурсы, в которых нет кнопки участия! Такие конкурсы расчитаны на противостояние участников при помощи комментариев! Выигрывает в таком конкурсе тот участник, чей комментарий продержался последним установленное время.
        <br/><img src="~/Content/Images/faq/4.jpg"/>
    </li>
    <li>
        Видим что наш комментарий перебит - идем вниз к комментариям (для удобства время окончания пишется в левом верхнем углу).
        <br/><img src="~/Content/Images/faq/5.jpg"/>
    </li>
    <li>
        Теперь вы участвуете и не забывайте поглядывать на время! Вашу победу могут отнять.
        <br/><img src="~/Content/Images/faq/6.jpg"/>
    </li>
</ol>
<h2>
    Что еще можно найти на сервисе?
</h2>
<ol class="howplay">
    <li>
        Не стоит забывать о глобальных конкурсах! Когда появляется такой конкурс он обязательно покажется на главной странице, причем в самом верху! В чем отличие таких конкурсов? Они не отличаются от обычных конкурсов порядком проведения, только лишь количеством призов и их стоимостью.
        <br/><img src="~/Content/Images/faq/7.jpg"/>
    </li>
    <li>
        Завершенные конкурсы. Так же на главной странице, но в самом низу. Можно посмотреть какие конкурсы проходили и почитать впечатления пользователей в комментариях.
        <br/><img src="~/Content/Images/faq/8.jpg"/>
    </li>
    <li>
        Отзывы. Не забывайте оставлять @Html.ActionLink("отзывы", "Index", "Report") сервису, так вы помогаете нам понять, чего хочет наша аудитория, а также продвигать сервис в правильном направлении.
    </li>
</ol>