@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron header">
    <div class="logo"></div>
</div>

<div>
    <div class="stats">
        <span class="title">78</span>
        <span class="value">Розыгрышей</span>
    </div>
    <div class="stats">
        <span class="title">1200</span>
        <span class="value">Пользователей</span>
    </div>
    <div class="stats">
        <span class="title">133</span>
        <span class="value">Онлайн</span>
    </div>
    <div class="stats">
        <span class="title">43255</span>
        <span class="value">Сумма выплат</span>
    </div>
    <div class="stats">
        <span class="title">5000</span>
        <span class="value">Глобал</span>
    </div>
</div>

<div class="row">
</div>