
@{
    ViewBag.Title = "Отзывы пользователей";
}

<h2>@ViewBag.Title</h2>
<h4 style="margin: 45px 0;">Оставляем свои отзывы по сервису!</h4>
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 20, width: "700", attach: "*"});
</script>